################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ComputerVisionSolution/ComputerVisionSolution.VC.VC.opendb
/ComputerVisionSolution/ComputerVisionLib/Debug
/ComputerVisionSolution/ComputerVisionLib/x64/Debug
/ComputerVisionSolution/x64/Debug
